@import 'imports/styles';

// Colors
$primary: $orange !default;
$secondary: lighten($turqoise, 10%) !default;
$accent: $nephritis !default;

@import '../components/header/header';
@import '../components/content-area/content-area';
@import '../components/camera/camera';
@import '../components/login/login';

#camera {
  background-image: url('../assets/img/camera.png');
}