$primary: #ff6600;
$secondary: lighten(#1abc9c, 10%) !default;
$accent: #212121 !default;

@import 'imports/styles';

// Colors
$primary: $orange !default;
$secondary: lighten($turqoise, 10%) !default;
$accent: $black !default;

@import '../components/header/header';
@import '../components/content-area/content-area';
@import '../components/camera/camera';
@import '../components/login/login';
@import '../components/file/file';
@import '../components/snackbar/snackbar';

#camera, #capture-label {
  background-image: url('../assets/img/camera.png');
}
