$camera-size: 75px;

.camera {
  margin: $space-big 0;
  #camera, label {
    margin: 0 auto;
    display:block;
  }
  #camera {
    width: $camera-size;
    height: $camera-size;
  }
  label {
    text-align: center;
    font-size: $font-big;
    font-weight: bold;
    width: 300px;
    margin-bottom: $space-small;
  }
  video {
    width: 100%;
  }
  #capture-button {
    background: $black;
    color: $off-white;
    border-radius: $space-tiny;
    border: 0;
    padding: $space-small $space-med;
    font-size: $font-big;
    margin: $space-small auto;
    display: none;
  }
  .display {
    display: block !important;
  }
  canvas {
    width: 100%;
  }
}